:root {
  --main-color: #f5f5f5;
  --secondary-color: #95aac9;
  --black-color: #000;
  --white-color: #fff;
  --danger-color: #ff4d4f;
  --success-color: #52c41a;
  --warning-color: #faad14;
  --info-color: #1890ff;
  --primary-color: #3171fd;
  --light-theme-bg: #fff;
  --dark-theme-bg: #161b27;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}
body {
  height: 100vh;
}

.row {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-image: url("../images/body_background.png");
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
}

.form-control,
.form-control:focus,
body {
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #ce1c63 50%, #535edb 0);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: linear-gradient(
    90deg,
    rgba(206, 28, 99, 0.478),
    rgba(83, 94, 219, 0.647)
  );
  border-radius: 5px;
}

a {
  text-decoration: none;
}

.logo-container {
  width: 250px;
}

.logo-container,
.profile-container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  width: 50px;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.light-theme {
  background-color: var(--main-color);
  color: var(--black-color);
}

.dark-theme {
  background-color: var(--dark-theme-bg);
  color: var(--white-color);
}

.j-main-sidebar {
  height: 100vh;
  overflow-y: scroll;
}

.j-main-sidebar .j-sidebar span {
  padding: 30px 10px;
}

.form-floating input,
.form-floating label {
  color: var(--secondary-color);
}

.btn-primary {
  background-color: var(--black-color);
  border-color: var(--primary-color);
  border-style: dashed;
  color: var(--white-color);
}

.btn-primary:hover {
  background-color: var(--primary-color);
  border-color: var(--black-color);
  color: var(--black-color);
}

.errorMsg {
  color: var(--danger-color);
}

.j-nav-link {
  color: var(--white-color);
}

.j-nav-link,
.j-nav-link a {
  text-decoration: none;
}

.j-all-game {
  height: 250px;
  overflow: scroll;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd {
  display: none;
}

.goog-te-combo {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--secondary-color);
  background-color: var(--light-theme-bg);
  color: var(--black-color);
}

.dark-theme .goog-te-combo {
  background-color: var(--dark-theme-bg);
  color: var(--white-color);
}

.text-reset {
  text-decoration: none;
}

html[data-theme="dark"] .j-nav-link {
  color: var(--white-color);
}

html[data-theme="dark"] .j-nav-link:hover {
  background-color: #232b3f;
}

@keyframes header-style {
  0% {
    background-size: 200% 100%;
    background-position: 100% 50%;
  }

  50% {
    background-size: 200% 100%;
    background-position: 0 50%;
  }

  to {
    background-size: 200% 100%;
    background-position: 100% 50%;
  }
}

.j-title-design-h3 {
  background: linear-gradient(63deg, #455669, #4f739e, #5291db, #3171fd);
  animation: header-style 5s ease infinite;
}

.j-remove-text-decotation a {
  text-decoration: none;
  color: unset;
}

iframe {
  display: block;
  background: #000;
  border: none;
  height: 100vh;
  width: 100vw;
}

.j-go-to-up {
  position: fixed;
  top: 50%;
  right: 0;
}

.main-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 600px;
  height: 150px;
}

.main-nav li {
  list-style: none;
  position: absolute;
  width: 200px;
  height: 200px;
  background: #000;
  transform: rotate(45deg);
  transition: 0.5s;
  margin: -100px;
  overflow: hidden;
  opacity: 0.5;
}

.main-nav li:hover {
  opacity: 1;
}

.main-nav li.item1 {
  top: 0;
  left: 0;
}

.main-nav li .bg {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}

.main-nav li.item1 .bg {
  background: url(https://imgur.com/ir9l1IJ.jpg);
  background-size: cover;
  background-position: 50%;
}

.hover-container:hover .hover-content-show {
  display: block !important;
  text-align: center;
}

.hover-container {
  cursor: pointer;
}

.hover-content-show {
  bottom: 0;
  right: 0;
  background-color: rgba(9, 10, 14, 0.275);
  color: #fff;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
}

.hover-content,
.hover-content-show {
  position: absolute;
  font-weight: 700;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-content {
  cursor: pointer;
  top: 40px;
  left: 0;
  height: 100%;
  background: inherit;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.9s ease;
}

.hover-container:hover {
  position: relative;
}

.slider-image {
  width: 100%;
  height: auto;
}

.hover-container:hover .hover-content {
  opacity: 1;
}

.j-rounded-5 {
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.all-games .d-flex {
  display: flex;
  flex-wrap: wrap;
}

.active {
  background-color: #45183e;
  padding: 5px 20px !important;
  color: #fff;
}

.j-custome-sidebar {
  z-index: 1000;
}

.background-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.j-play-btn {
  transition: transform 0.3s;
}

.j-play-btn:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .small-on-mobile {
    font-size: 10px;
  }
}

.j-all-list-game {
  padding: 20px 0;
}

.const-us-form .form-control {
  background: #12192b;
}

.const-us-form .form-control::-moz-placeholder {
  color: #757575;
  opacity: 1;
}

.const-us-form .form-control::placeholder {
  color: #757575;
  opacity: 1;
}

.const-us-form .input-group-text {
  background: #12192b;
}

.const-us-form .input-group-text::-moz-placeholder {
  color: #757575;
  opacity: 1;
}

.const-us-form .input-group-text::placeholder {
  color: #757575;
  opacity: 1;
}

.j-btn-gradient {
  background: linear-gradient(90deg, #ce1c63, #535edb);
  border-color: transparent;
}

.j-btn-gradient:hover {
  background: linear-gradient(90deg, #535edb, #ce1c63);
  color: #fff;
}

.j-serchbar {
  background: #12192b;
}

.j-serchbar input[type="search"] {
  background: #12192b;
  color: #fff;
  border: 1px solid #12192b;
  border-radius: 10px;
}

.j-serchbar input[type="search"]::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.j-serchbar input[type="search"]::placeholder {
  color: #fff;
  opacity: 1;
}

.navbar-collapse {
  flex-grow: 0;
}

.j-header-color {
  background-color: #141d33;
  padding: 10px;
}

.j-play-game-gradinet {
  padding: 10px 35px;
  background: linear-gradient(90deg, #ce1c63, #535edb);
  color: #fff;
  border-radius: 25px;
  border: unset;
  font-weight: 700;
  box-shadow: 0 15px 30px #ce1c63;
  margin: auto;
}

.j-play-game-gradinet:hover {
  background: linear-gradient(90deg, #535edb, #ce1c63);
  color: #fff;
}

@media (max-width: 600px) {
  .j-play-game-gradinet {
    padding: 10px;
    width: 100px !important;
    bottom: 30px !important;
  }
}

.hover-container {
  transition: all 0.1s ease;
}

.hover-container:hover {
  transform: scale(1.1);
}

.j-game-count-gradinet {
  background-color: #3171fc;
  padding: 10px 20px;
  border-radius: 25px;
  border: unset;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 15px;
  right: 0;
  margin: auto 15px auto auto;
}

.j-play-game-gradinet {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  width: 200px;
}

.text-blue,
.ts-subtitle,
.ts-title {
  color: #3171fc;
}

.game-about-us {
  background: linear-gradient(90deg, #28212a, #182441);
  color: #fff;
  padding: 20px;
  border-radius: 50px;
}

.form-control:focus {
  box-shadow: unset;
}

.border-gradient {
  position: relative;
  padding: 3px;
  border-radius: 50px;
}

.border-gradient:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(270deg, #ce1c63, #535edb);
  z-index: -1;
  border-radius: inherit;
}

.border-gradient-purple {
  position: relative;
  z-index: 1;
}

.navbar-toggler {
  color: transparent;
  border: unset;
}

.j-auto-menu {
  background: linear-gradient(270deg, #ce1c63, #535edb);
}

.j-auto-menu .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.card {
  background: hsla(0, 0%, 100%, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.small-responsive {
  width: 100px;
  height: 100px;
}

.j-main-footer {
  background: linear-gradient(90deg, #0e1119, #121727);
  color: #fff;
}

.j-decoration-heading {
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  background-color: #ce1c63;
  font-size: medium;
  animation: color-change 2s infinite;
}

@keyframes color-change {
  0% {
    background-color: #535edb;
  }

  50% {
    background-color: #ce1c63;
  }

  to {
    background-color: #535edb;
  }
}

@font-face {
  font-family: Inter_Local;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/a34f9d1faa5f3315-s.p.woff2") format("woff2");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193,
    u+2212, u+2215, u+feff, u+fffd;
}

@font-face {
  font-family: Inter_Fallback;
  src: local("Arial");
  ascent-override: 90.2%;
  descent-override: 22.48%;
  line-gap-override: 0%;
  size-adjust: 107.4%;
}

.body-section {
  font-family: Inter_Local, Inter_Fallback;
  font-style: normal;
}
